<!DOCTYPE html>
<html>

<head>
    <title>To Do List</title>
    <link href="styles.css" rel="stylesheet">
</head>

<body>

<% if (day === "Saturday" || day === "Sunday") { %>
    <h1 style="color:purple"> It's a <%= day %> !</h1>
<% } else { %>
    <h1 style="color:blue"> It's a <%= day %> !</h1>
<% } %>



</body>

</html>