div {
    background-color: rgb(150, 150, 150);
}
div.redbox {
    background-color: red;
    height: 200px;
    width: 200px;
}
div.bluebox {
    background-color: blue;
    height: 200px;
    width: 200px;
}
body {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;

}
h1 {
    margin-top: 0px;
    padding: 20px 20px 20px 20px;
}
p {
    padding: 20px 20px 20px 20px;
}
